{% block title %}Triplog Admin{% endblock %}
{% extends 'admin.base.html.twig' %}
{% block sidebar %}
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ path('admin_trip_list') }}"><i class="fa fa-plane" aria-hidden="true"></i> Trips</a></li>
        <li><a href="{{ path('admin_trip_categories_list') }}"><i class="fa fa-list-ul" aria-hidden="true"></i> Categories</a></li>
        <li><a href="{{ path('admin_trip_locations_list') }}"><i class="fa fa-map-marker" aria-hidden="true"></i> Locations</a></li>
    </ul>
{% endblock %}
{% block body %}
    <div class="breacrumb-wrapper">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}">Home</a></li>
            <li><a href="{{ path('admin_trip_list') }}">Trips</a></li>
            <li>Delete</li>
        </ol>
    </div>
    <div class="messages"></div>
    <div class="panel panel-default">
        <div class="panel-heading">Delete trip</div>
        <div class="alert alert-danger alert-message">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            By deleting this trip you also delete location and image attached to this trip.
        </div>
        <div class="form-wrapper-delete">
            {{ form_start(tripForm) }}
            {{ form_row(tripForm.tripName,{
                'label_attr' : {
                    'class' : 'hidden'
                },
                'attr': {
                    'class' : 'hidden'
                }
            }) }}
            {{ form_row(tripForm.tripDesc,{
                'label_attr' : {
                    'class' : 'hidden'
                },
                'attr': {
                    'class' : 'hidden'
                }
            }) }}
            {{ form_row(tripForm.isPublic,{
                'label_attr' : {
                    'class' : 'hidden'
                },
                'attr': {
                    'class' : 'hidden'
                }
            }) }}
            {{ form_row(tripForm.createdAt, {
                'label_attr' : {
                    'class' : 'hidden'
                },
                'attr': {
                    'class' : 'hidden'
                }
            }) }}
            <button type="submit" class="btn btn-danger" formnovalidate>Delete</button>
            {{ form_end(tripForm) }}
        </div>
    </div>
{% endblock %}


