{% block title %}Triplog Admin{% endblock %}
{% extends 'admin.base.html.twig' %}
{% block sidebar %}
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ path('admin_trip_list') }}"><i class="fa fa-plane" aria-hidden="true"></i> Trips</a></li>
        <li><a href="{{ path('admin_trip_categories_list') }}"><i class="fa fa-list-ul" aria-hidden="true"></i> Categories</a></li>
        <li><a href="{{ path('admin_trip_locations_list') }}"><i class="fa fa-map-marker" aria-hidden="true"></i> Locations</a></li>
        <li><a href="{{ path('admin_trip_user_list') }}"><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
    </ul>
{% endblock %}
{% block body %}
    <div class="breacrumb-wrapper">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}">Home</a></li>
            <li><a href="{{ path('admin_trip_list') }}">Trips</a></li>
            <li>Edit</li>
        </ol>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Edit trip</div>
        <div class="form-wrapper">
            {{ form_start(tripForm) }}
            {{ form_row(tripForm.tripName,{
                'label' : 'Name'
            }) }}
            {{ form_row(tripForm.user,{
                'label' : 'User',
            }) }}
            {{ form_row(tripForm.tripDesc,{
                'label' : 'Description'
            }) }}
            {{ form_row(tripForm.isPublic,{
                'label' : 'Public'
            }) }}
            {{ form_row(tripForm.createdAt, {
                'label' : 'Date'
            }) }}
            <button type="submit" class="btn btn-warning" formnovalidate>Save</button>
            {{ form_end(tripForm) }}
        </div>
    </div>
{% endblock %}


