{% extends 'base.html.twig' %}
{% block title %}Trip Timeline{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('trip_list') }}">Trips</a></li>
        <li><a href="{{ path('trip_locations') }}">Trip Locations</a></li>
        <li><a href="#">Trips Maps</a></li>
    </ul>
{% endblock %}

{% block body %}
   <div class="row">
       <div class="col-md-12">
           <div class="content-header clearfix">
           </div>
           <div id="js-timeline-wrapper"></div>
       </div>
   </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/babel" src="{{ asset('js/triptimeline.react.js') }}"></script>
    <script type="text/babel">
        var tripUrl = '{{ path('api_trip_list')}}';

        ReactDOM.render(
                <TripTimeline url={tripUrl} />,
            document.getElementById('js-timeline-wrapper')
        );
    </script>
{% endblock %}
